html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f4f4;
    color: #222;
}

nav{
    position: fixed;
    width: 95%;
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    align-items: center;
    z-index: 1000;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover{
    color: #00adb5;
}

.logo{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

header{
    height: 100vh;
    background: linear-gradient(to right,#111,#222);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease-in;
}

.tagline{
    font-size: 18px;
    text-align: center;
}

.section{
    padding: 100px 100px;
    text-align: center;
}

.dark{
    background: #111;
    color: white;
}
.skill-box span{
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    background: #00adb5;
    color: white;
    border-radius: 25px;
    transition: 0.3s;
}

.skill-box span:hover{
    transform: scale(1.1);
}

.project-card{
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.project-card:hover{
    transform: translateY(-10px);
}

.dark .project-card{
    background: #222;
}

footer{
    padding: 20px;
    background: black;
    color: white;
    text-align: center;
}

@keyframes fadeIn{
    from{
        opacity: 0; transform: translateY(20px);
    }
    to{
        opacity: 1; transform: translateY(0);
    }
}
